<article>
	<header>
		<h1><%= @recipe.name %></h1>
	</header>

	<h3>Calorias</h3>
	<p>
		<%= @recipe.stuff %>
	</p>

	<h3>Modo de Preparo</h3>
	<p>
		<%= @recipe.prepare_mode %>
	</p>

	<h3>Custo</h3>
	<p>
		<%= @recipe.cost %>
	</p>
</article>